<div class="relative w-full h-[150px] bg-cover bg-center bg-opacity-75 -z-10"
    [style.backgroundImage]="'url(' + backgroundImage + ')'">
    <div class="w-3/4 absolute inset-0 bg-gradient-to-r from-white to-transparent z-0" style="opacity: 1;"></div>
    <div class="w-2/4 h-full p-5 relative z-10">
        <breadcrumb [breadcrumbElements]="breadcrumbElements"></breadcrumb>
        <div class="mt-5">
            <fa-icon class="text-4xl text-primary mr-5" [icon]="icon"></fa-icon>
            <span class="text-4xl mt-5 text-primary font-bold">{{title | translate}}</span>
        </div>
    </div>
</div>